/.idea
/.vagrant
/docs/deployer/stage/*
/docs/deployer/upload/*
/assets/dist
/assets/node_modules
/assets/bower_components
/upload/*
/vendor
.env
.php_cs.cache
ConfigDevelop.php
ConfigRelease.php
phinx.yml
