.dhx_cal_event_cont_selected {
    background-color: #9cc1db;
    color: white;
}

.dhx_scale_hour_main {
    float: left;
    text-align: right;
    font-size: 16px;
    font-weight: bold;
}

.dhx_scale_hour_minute_cont {
    float: left;
    position: relative;
    text-align: right;
}

.dhx_scale_hour_minute_top, .dhx_scale_hour_minute_bottom {
    font-size: 10px;
    padding-right: 5px;
}

.dhx_scale_hour_sep {
    position: absolute;
    height: 1px;
    background-color: #8C929A;
    right: 0;
    top: 20px;
    width: 20px;
}

.dhx_marked_timespan.dhx_now_time {
    border-bottom: 3px solid orange;
}

.dhx_cal_event.group div {
    background-color: #5cb85c;
}

#descModal .modal-body div {
    margin: 30px 0px;
}

@media (max-width: 600px) {
    .dhx_cal_today_button { right: 20px; }
    .dhx_cal_prev_button { right: 5px; }
    .dhx_cal_next_button { right: -20px; }
}
