.component.payment-table {
  @import (reference) '../../../../../web/static/bower_components/bootstrap/less/variables';
  @table: .table;
  @tr: .tr;
  @th: .th;
  @td: .td;

  .small() {
    opacity: .75;
    font-size: 85%;
  }

  .btn-group {
    & > .dropdown-menu {
      min-width: 0;
    }
  }

  @{th}, @{td} {
    white-space: nowrap;
    word-break: keep-all;

    small {
      .small;
    }

    div {
      font-size: inherit;
    }

    &.request_date {}
    &.register_name {}
    &.manager {}
    &.account_book_registered {}

    &.month {}
    &.team {}
    &.team-detail {}
    &.product {}
    &.category {}
    &.desc {}
    &.files {}

    &.company_name {}
    &.price {}
    &.pay_date {}

    &.tax {}

    &.bank {}
    &.bank_account {}
    &.bank_account_owner {}

    &.note {}

    &.status {}

    &.buttons {}
  }

  @{th} {
    font-size: 1.3rem;

    &.request_date {}
    &.register_name {}
    &.manager {
      small {
        &:before { content: '('; }
        &:after { content: ')'; }
      }
    }
    &.account_book_registered {}

    &.month {}
    &.team {}
    &.team-detail {}
    &.product {}
    &.category {}
    &.desc {}
    &.files {}

    &.company_name {}
    &.price {}
    &.pay_date {}

    &.tax {}

    &.bank {}
    &.bank_account {}
    &.bank_account_owner {}

    &.note {}

    &.status {
      small {
        &:before { content: '('; }
        &:after { content: ')'; }
      }
    }

    &.buttons {}
  }

  @{td} {
    position: relative;

    .glyphicon {
      &:only-child {
        line-height: inherit;
        top: 0;
      }

      &.positive {
        color: @brand-success;
      }

      &.negative {
        color: @gray-light;
      }
    }

    .label {
      .glyphicon {
        color: inherit;
      }
    }

    & > .label {
      display: inline-block;
      line-height: inherit;
    }

    &:not(:first-child) {
      border-left: 1px solid #eee;
    }

    &.request_date {}
    &.register_name {}
    &.manager {
      .name { margin: 0 .25rem; }
      .accepted_date {
        opacity: .8;
        &:before { content: '('; }
        &:after { content: ')'; }
      }
      > .editor.popover > .popover-content > form .form-group {
        &.manager_uid {
          min-width: 15rem;
        }
      }
    }
    &.account_book_registered {
      text-align: center;
      > .editor.popover {
        min-width: 0;
      }
    }

    &.month {}
    &.team {
      white-space: normal;

      > .content {
        display: flex;
        flex-flow: column nowrap;

        > .name {
          order: 2;
          white-space: nowrap;
        }

        > .sub {
          order: 1;
          white-space: nowrap;

          > .detail {
            margin-left: .25rem;
            font-weight: 800;
          }
        }

        &.no-sub-name {
          display: block;
        }

        &:not(.no-sub-name) {
          > .name {
            .small;
          }
        }
      }

      > .editor.popover > .popover-content > form .form-group {
        min-width: 25rem;
      }
    }
    &.product {}
    &.category {
      white-space: normal;
      min-width: 12rem;

      .name {
        margin-right: .5rem;
        display: block;
        white-space: nowrap;
      }

      .description {
        display: block;
      }

      > .editor.popover > .popover-content > form .form-group {
        min-width: 25rem;
      }
    }
    &.desc {
      white-space: pre-line;
      word-break: normal;
      min-width: 20rem;
      font-size: 1rem;
    }
    &.files {
      input[type='file'] {
        display: none;
      }

      .btn {
        &.upload {
          visibility: hidden;

          .glyphicon {
            line-height: inherit;
            top: 0;
          }
        }
      }

      & > .btn-group:not(:hover):not(.open) > .btn {
        background-color: transparent;
        border-color: transparent;

        &.upload {
          opacity: .75;
        }

        &.download {
          color: @brand-primary;

          .caret {
            visibility: hidden;
          }
        }
      }

      .dropdown-menu > li {
        & > * {
          display: block;
          padding: 3px 20px;
          clear: both;
          font-weight: 400;
          line-height: 1.42857143;
          color: #333;
          white-space: nowrap;
          border: none;
          width: 100%;
          text-align: left;
          background: none;
        }

        &:focus,
        &:hover {
          color: #262626;
          text-decoration: none;
          background-color: #f5f5f5;
        }

        &.file {
          display: flex;
          flex-flow: row nowrap;

          .name {
            flex: 1;
          }

          .btn.remove {
            visibility: hidden;
            width: auto;
            color: @brand-danger;
            opacity: .25;

            &:hover {
              opacity: 1;
            }
          }

          &:hover {
            .btn.remove {
              visibility: visible;
            }
          }
        }
      }
    }

    &.company_name { white-space: normal; min-width: 10rem }
    &.price {
      text-align: right;
      > .value {
        > .fractional {
          margin-left: .1rem;
          &.empty {
            color: rgba(0, 0, 0, .2);
          }
        }
      }
    }
    &.pay_date {}

    &.tax {
      text-align: center;
      .tax_date { margin-left: .25rem; }
    }

    &.bank {
      white-space: normal;
      min-width: 10rem;
    }
    &.bank_account {}
    &.bank_account_owner {}

    &.note {
      white-space: pre-line;
      word-break: normal;
      min-width: 20rem;
      font-size: 1rem;
    }

    &.status {
      text-align: center;
      .acceptor_name {
        margin: 0 .25rem;
      }
      .accepted_date {
        opacity: .8;
        &:before { content: '('; }
        &:after { content: ')'; }
      }
      > .editor.popover {
        min-width: 0;
      }
    }

    &.buttons {
      padding-right: 20px;

      > .dropdown {
        visibility: hidden;
        opacity: .5;

        &:not(:hover):not(.open) {
          > .btn {
            border-color: transparent;
            background: none;
          }
        }

        &:hover,
        &.open {
          opacity: 1;
          visibility: visible;
        }

        li {
          .glyphicon {
            font-size: 1rem;
          }

          &.accept .glyphicon {
            color: @brand-success;
          }

          &.reject .glyphicon {
            color: @brand-warning;
          }

          &.remove .glyphicon {
            color: @brand-danger;
          }
        }
      }
    }
  }

  @{tr} {
    &.empty {
      background: none !important;

      @{td} {
        text-align: center;
        border: none;
      }
    }

    &:hover {
      @{td} {
        &.files {
          .btn.upload {
            visibility: visible;
          }
        }

        &.buttons {
          > .dropdown {
            visibility: visible;
          }
        }
      }
    }
  }
}
