{% extends 'ridi.twig' %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('my_info.css') }}">
{% endblock %}

{% block body %}
    <div id="content"></div>
    <script type="text/javascript" src="{{ asset('common.js') }}"></script>
    <script type="text/javascript" src="{{ asset('my_info.js') }}"></script>
{% endblock %}
