.payment-admin {
  button:focus {
    outline: none !important;
  }

  .progress {
    margin: 0;
  }

  .page-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;

    .title {
      margin-bottom: 0;
    }
  }

  .query-selector-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  .payment-table-container {
  }
}
