{% extends 'ridi.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div id="content"></div>
    <script type="text/javascript" src="{{ asset('common.js') }}"></script>
    <script type="text/javascript" src="{{ asset('holiday_team.js') }}"></script>
{% endblock %}
